{% extends "blog/base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
  <h1>{{ post.title }}</h1>
  <a href="/" style="font-size: 1.5vw">
      Назад к постам
    </a>
  <section>
  <p class="date">
    Published {{ post.publish }} by {{ post.author }}
  </p>
  {{ post.body|linebreaks }}
  <p>
    <a href="{% url "blog:post_share" post.id %}">
      Поделиться
    </a>
  </p>
  </section>
  {% with comments.count as total_comments %}
  <h1>Комментарии</h2>
  <section class="comments-section">
    <h2>
      {{ total_comments }} comment{{ total_comments|pluralize }}
    </h2>
  {% endwith %}

  {% for comment in comments %}
    <div class="comment">
      <p class="info">
      {{ comment.name }} : {{ comment.created }} 
      </p>
      {{ comment.body|linebreaks }}
    </div>
  {% empty %}
    <p>Комментариев пока нет</p>
  {% endfor %}
  </section>
  {% include "blog/post/includes/comment_form.html" %}
{% endblock %}
